  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <%= render 'layouts/search_image' %>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        </div>
    <div class="row">
      <div class="col-md-12">
        <% @results.each do |post_image| %>
        <div class="col-md-2">
            <section class="">
              <%= attachment_image_tag post_image, :image, size: "250x200", format: 'png', fallback: "" %>
            </section>
        </div>
        <% end %>
        </div>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          <%= paginate @results, class: "paginate center-block" %>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>