
<div class="container-fluid top-blank2">
	<img src="/images/narrative.jpg" class="img-responsive center-block main_visual boxer" >
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
	  <h1 class="text-center main_visual2"><img src="/images/cooltex.png" alt="ぱいらもん" class="img-responsive center-block"></h1>
	  <p class="text-center h2 orange main_visual2">ぱいらもんとは、<br>コミック、イラストを描くパイオニアが集えるコモーンな<br>画像投稿サイト</p>
    </div>
  </div>
</div>