
<div class="container-fluid">
	<img src="http://placehold.jp/24/cc9999/993333/1400x1000.png" class="img-responsive center-block" >
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
	  <h1>ぱいらもん</h1>
	  <p>ぱいらもんとは、コミック、イラストを描くパイオニアが集えるコモーンな画像投稿サイト</p>
    </div>
  </div>
</div>